<div class="navbar navbar-expand-sm navbar-light navbar-slowtraveller">
  <%= link_to "/" do %>
    <h3>SlowTraveller</h3>
  <% end %>

<!-- Small menu icon for small devices-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<!-- Navbar links -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav float-right">
      <% if user_signed_in? %>
        <li class="navbar-item">
          <%= link_to "Travel Diary", "#", class: "link" %>
        </li>
        <li class="navbar-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "link" %>
        </li>
      <% else %>
        <li class="navbar-item">
          <%= link_to "Login", new_user_session_path, class: "link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
