<div class="search-banner">
  <div class="search-container">
    <div class="search-title">
      <h1>Slow Traveller</h1>
      <h3>It's more about the journey <br>than the destination</h3>
    </div>
    <div class="search-form">
      <%= render 'shared/search_form' %>
    </div>
  </div>
  <div class="images">
    <%= image_tag("slow_traveller.png", id: "traveller-image") %>
    <%= image_tag("board.png", id: "board-image") %>
  </div>
</div>

