<div class="main-container">
  <div class="form-banner">
    <div class="form-box">
      <h1>Slow Traveller</h1>
      <h2>It's more about the journey <br>than the destination</h2>
      <div class="form-search">
        <%= render 'shared/search_form' %>
      </div>
    </div>
    <div class="elements">
    <%= image_tag("slow_traveller.png", class: "image-banner") %>
    <%= image_tag("board.png", class: "board-banner") %>
    </div>
  </div>
</div>
