<div class="main-container">
  <div class="search-banner">
    <div class="search-form-container">
      <h1>Slow Traveller</h1>
      <h2>It's more about the journey <br>than the destination</h2>
      <div class="search-form">
        <%= render 'shared/search_form' %>
      </div>
    </div>
    <%= image_tag("slow_traveller.png", class: "image-banner") %>
    <%= image_tag("board.png", class: "board-banner") %>
  </div>
</div>
