// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
    background-color: rgb(241, 155, 66); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgb(251, 181, 34), rgb(240, 86, 2));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .image-background {
      z-index: -1;
      margin-left: -38%;
      width: 176%;
      position: fixed;
      bottom: -10%;
      }
}

h1 {
  font-size: 80px;
  font-weight: bold;
}

h2 {
  font-size: 45px;
  font-weight: bold;
}

h3 {
  font-size: 35px;
}

p {
  font-size: 16px;
  font-weight: 100;
  line-height: 1.3;
}

.main-container {
  width: 1000px;
  margin: 0 auto;
}
